.statistics {
    display: grid;
    width:clamp(100px,90vw,1200px);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .stat-item {
    background-color: #5151513e;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.655);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(5px);
  }

  .stat-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }

  .stat-number {
    font-size: 5.5rem;
    font-weight: bold;
    color: #00ffff;
    font-family: 'Permanent Marker', sans-serif;
  }

  .stat-text {
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
  }

  strong {
    font-size: 2rem;
    font-weight: bold;
    color: #007c7f;
    font-family: 'Kanit', sans-serif;
  }

  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .statistics {
      padding: 20px;
    }

    .stat-item {
      padding: 15px;
    }

    .stat-number {
      font-size: 2rem;
    }

    .stat-text {
      font-size: 1rem;
    }
  }
