<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link" matTooltip="Go to Home">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" matTooltip="View Dashboard">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/courses" routerLinkActive="active" class="nav-link" matTooltip="Explore Courses">
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/blogs" routerLinkActive="active" class="nav-link" matTooltip="Read Blogs">
            Blogs
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li>
              <a routerLink="/faq" routerLinkActive="active" class="nav-link" matTooltip="FAQs">FAQ</a>
            </li>
            <li>
              <a routerLink="/about" routerLinkActive="active" class="nav-link" matTooltip="About Us">About</a>
            </li>
            <li>
              <a routerLink="/privacy" routerLinkActive="active" class="nav-link"
                matTooltip="Privacy Policy">Privacy</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contact" routerLinkActive="active" class=" nav-link" matTooltip="Contact Us"> Contact </a>
            </li>
            <li>
              <a routerLink="/addcourse" routerLinkActive="active" class="nav-link" matTooltip="Add Course">Add
                Course</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link" matTooltip="Profile Settings">
            Profile
          </a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>