<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link" matTooltip="Go to Home">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/gallery" routerLinkActive="active" class="nav-link" matTooltip="View Dashboard">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/angular" routerLinkActive="active" class="nav-link" matTooltip="Explore Courses" matBadge="4"
            matBadgeOverlap="false">
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/react" routerLinkActive="active" class="nav-link" matTooltip="Read Blogs">
            Blogs
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link" matTooltip="Contact Us">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link" matTooltip="Profile Settings">
            Profile
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>