<mat-card class="course-card shadow-sm h-100">
    <img
      [src]="course.imageUrl || 'assets/gallery/designer.webp'"
      alt="Course Image"
      class="course-bg-image w-100"
    />

  <mat-card-content class="p-3">
    <h5 class="course-title mb-1">{{ course.courseName }}</h5>
    <p class="course-tutor small">{{ course.tutor }}</p>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex align-items-center">
        <i class="material-icons text-primary me-2">schedule</i>
        <span class="text-muted small">{{ course.duration }}</span>
      </div>
      <div class="d-flex align-items-center">
        <i class="material-icons text-primary me-2">plus_one</i>
        <span class="text-muted small">{{ course.credits }}</span>
      </div>
      <div class="d-flex align-items-center">
        <i class="material-icons text-success me-2">attach_money</i>
        <span class="text-muted small">{{ course.courseFee }}</span>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <i class="material-icons text-warning me-2">code</i>
      <span class="text-muted small">{{ course.importantTechnologiesUsed.join(", ") }}</span>
    </div>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-evenly p-3">
    <!-- <button
      mat-flat-button
      color="primary"
      [disabled]="isEnrolled"
      *ngIf="userrole === 'student'"
      (click)="enrollToCourse()"
      class="px-3"
    >
      {{ isEnrolled ? "Enrolled" : "Enroll" }}
    </button> -->

    <button
      mat-flat-button
      *ngIf="userrole === 'tutor'"
      (click)="editcourseitem(course.id)"
    >
      Edit
    </button>

    <button
      mat-flat-button
      color="accent"
      class="px-3"
      (click)="openCourseDetails(course)"
    >
      View Details
    </button>
  </mat-card-actions>
</mat-card>
