:host {
  display: block;
}

.course-card {
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--text-color);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    .image-overlay {
      opacity: 1;
    }

    .course-bg-image {
      transform: scale(1.05);
    }
  }
}

.image-container {
  height: 200px;
  overflow: hidden;
}

.course-bg-image {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mat-mdc-card-content {
  flex-grow: 1;
  color: var(--text-color)!important;
}

.mat-mdc-card-actions {
  .mat-mdc-button-base {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .image-container {
    height: 180px;
  }
}

@media (max-width: 576px) {
  .image-container {
    height: 160px;
  }

  .mat-mdc-card-content {
    padding: 1rem !important;
  }

  .mat-mdc-card-actions {
    padding: 1rem !important;
    padding-top: 0 !important;
  }
}
