<div class="container mt-5">
  <mat-card class="p-4 shadow-lg frosted-card">
    <h2 class="text-center mb-4 text-primary">{{ privacyPolicy.title }}</h2>
    <p class="lead text-muted">{{ privacyPolicy.introduction }}</p>

    <div *ngFor="let section of privacyPolicy.sections">
      <h4 class="fw-bold">{{ section.title }}</h4>
      <p>{{ section.content }}</p>
    </div>

    <h4 class="fw-bold">{{ privacyPolicy.contact.title }}</h4>
    <p>
      {{ privacyPolicy.contact.text }} <a href="mailto:{{ privacyPolicy.contact.email }}" class="text-primary">{{ privacyPolicy.contact.email }}</a>.
    </p>
  </mat-card>
</div>
