<div class="container mt-5">
    <h1 class="text-center">React Blog</h1>
  
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">What is React?</h2>
        <p class="card-text">
          React is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications.
        </p>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Why Use React?</h2>
        <p class="card-text">
          React allows developers to create large web applications that can update and render efficiently in response to data changes. It is component-based, which means the UI is divided into reusable pieces, making development more manageable and scalable.
        </p>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Getting Started with React</h2>
        <p class="card-text">
          To get started with React, you can use the Create React App tool, which sets up a new React project with a single command. You can also integrate React with other libraries or frameworks, such as Angular or Vue.
        </p>
      </div>
    </div>
  </div>