  <mat-card class="blog-card mat-elevation-z4">
    <img alt="blog title" mat-card-image [src]="blog.imageURL" [alt]="blog.title" class="blog-image">

    <mat-card-header>
      <mat-card-title class="blog-title">{{ blog.title }}</mat-card-title>
      <mat-card-subtitle>
        <div class="blog-meta">
          <span><mat-icon>person</mat-icon> {{ blog.author }}</span>
          <span><mat-icon>date_range</mat-icon> {{ blog.date | date:'mediumDate' }}</span>
          <span><mat-icon>topic</mat-icon>{{ blog.topic }} </span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="blog-description">{{ blog.description }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="onReadMore(blog.id)">
        <mat-icon>read_more</mat-icon> Read
      </button>
      <button mat-flat-button color="accent" (click)="onShare(blog.id)">
        <mat-icon>share</mat-icon> Share
      </button>
    </mat-card-actions>
  </mat-card>
