<div class="enrolled-courses mt-4">
  <h2>My Enrolled Courses</h2>
  <div class="grid">
    <div *ngFor="let course of courses" class="coursebox">
      <app-coursecard [course]="course" *ngIf="!course.disabled" [user]="user$ | async">
      </app-coursecard>
    </div>
    <div *ngFor="let course of courses" class="coursebox">
      <app-coursecard [course]="course" *ngIf="course.disabled" [user]="user$ | async">
      </app-coursecard>
    </div>

    <div *ngFor="let errorcourse of errorcourses">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Not available</mat-card-title>
          <mat-card-subtitle>Course not found</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Course with course id {{ errorcourse }} not found.
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-flat-button class="btn-danger" (click)="remove404course(errorcourse)">
            Remove course
          </button>
        </mat-card-actions>
        <mat-card-footer> You cannot interact with this course </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

<div class=" grid" >
  <div *ngFor="let message of (user$ | async)?.messages" class="mb-3">
    <mat-card class="shadow-sm col-sm-6 col-md-4 col-lg-3">
      <mat-card-header class="d-flex align-items-center">
        <mat-card-title class="d-flex align-items-center">
          <mat-icon class="me-2">person</mat-icon>
          {{ message.senderName }}
        </mat-card-title>
        <mat-card-subtitle class="text-light">
          {{ message.senderType }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{ message.message }}</p>
        <p class="small text-secondary">{{ message.timestamp }}</p>

        <span *ngIf="message.urgency === 'High'" class="badge bg-danger">High</span>
        <span *ngIf="message.urgency === 'Medium'" class="badge bg-warning text-dark">Medium</span>
        <span *ngIf="message.urgency === 'Low'" class="badge bg-success">Low</span>
      </mat-card-content>

      <mat-card-actions class="d-flex justify-content-between align-items-center">
        <button mat-flat-button color="warn" (click)="deleteMessage(message)">
          <mat-icon>delete</mat-icon> Delete
        </button>
        <button mat-flat-button color="primary" (click)="replytomsg(message)">
          <mat-icon>done</mat-icon> reply
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>