<div class="enrolled-courses mt-4">
  <h2>My Enrolled Courses</h2>
  <div class="gridbox">
        <app-coursecard  *ngFor="let course of courses" [course]="course"  [user]="user$ | async"></app-coursecard>
  </div>
    <ng-container *ngIf="errorcourses.length > 0">
      <div *ngFor="let errorcourse of errorcourses" class="error-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Not available</mat-card-title>
            <mat-card-subtitle>Course not found</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Course with ID <strong>{{ errorcourse }}</strong> not found.
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="warn" (click)="remove404course(errorcourse)">
              <mat-icon>delete</mat-icon> Remove
            </button>
          </mat-card-actions>
          <!-- <mat-card-footer> This course is unavailable. </mat-card-footer> -->
        </mat-card>
        <button mat-flat-button  (click)="remove404course(errorcourse)">
          <mat-icon>delete</mat-icon> Remove
        </button>
      </div>
    </ng-container>
  </div>
