.enrolled-courses {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.gridbox {
  width: clamp(300px,90vw,1200px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
  margin-top: 20px;
}


mat-card {
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 14px;
  color: #6c757d;
}

mat-card-content {
  font-size: 14px;
  color: #212529;
}

mat-card-actions {
  padding: 10px;
  text-align: right;
}

button mat-icon {
  margin-right: 5px;
}

.error-card mat-card {
  border-left: 5px solid #dc3545;
  background-color: #fff5f5;
}
