
.container {
  max-width: 900px;
}



h2 {
  font-family: 'Poppins', sans-serif;
  user-select: none;
}


p.lead {
  font-size: 1.1rem;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.frosted-card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  margin: 10px;
}

.frosted-inner-card {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--buttoncolor);
  color:white
}

.btn-primary:hover {
   backdrop-filter: brightness(0.9);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p.lead {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p.lead {
    font-size: 0.9rem;
  }
}
