<!-- hero.component.html -->
<section class="hero d-flex justify-content-evenly align-items-center">
  <div class="hero-left col-md-4 d-flex flex-column align-items-center justify-content-center text-white">
    <h1 class="display-3 font-weight-bold">Start Your Learning Journey Today</h1>
    <p class="lead mb-4">Unlock the doors to world-class education, anytime, anywhere.</p>
    <div class="cta-buttons">
      <button mat-raised-button color="primary" routerLink="/explore" class="btn btn-lg mr-3">Explore Courses</button>
      <button mat-stroked-button color="accent" routerLink="/contact" class="btn btn-lg">Contact Us</button>
    </div>
  </div>

  <div class="hero-right col-md-4">
    <img id="herofrontimg" src="./res/heroimgpersonwithlap.webp" alt="Learning"  class="img-fluid">
  </div>
</section>
