<section class="hero d-flex justify-content-evenly align-items-center">

  <div class="hero-left col-md-5 text-white">
    <h1 class="hero-title">
      Start your <span class="gradient-text">Upskilling Journey</span>
    </h1>
    <h2 class="hero-subtitle">
      Unlock your potential with our comprehensive tech courses and upskilling programs
    </h2>
    <ul class="features-list">
      <li> 50+ tech courses</li>
      <li> 150+ skilled Instructors</li>
      <li>10+ years of Experience</li>
    </ul>
    <div class="cta-buttons mt-4">
      <button mat-raised-button color="primary" class="btn btn-lg custom-btn" routerLink="/courses">
        Courses
      </button>
      <button mat-raised-button color="accent" class="btn btn-lg custom-btn-outline" routerLink="/contact">
         Contact Us
      </button>
    </div>
  </div>

  <!-- Right Content -->
  <div class="hero-right col-md-4">
      <img  id="heroimg"  src="./res/heroimgpersonwithlap.webp" alt="Learning Person" />
  </div>
</section>
