.hero {
  min-height: 90vh;
  padding: 3rem 2rem;
  background: #0815272b;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;

  .hero-title {
    font-size: 3rem;
    font-family: "Jersey", "Courier New", Courier, monospace;

    animation: fadeInDown 1s ease-in-out;
  }

  .gradient-text {
    background: linear-gradient(90deg, #ff007a, #ff6600);
    font-family: "Kanit", "Courier New", Courier, monospace;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 6rem;
    font-weight: bolder;
  }

  .hero-subtitle {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: left;
    font-family: "oswald", "Courier New", Courier, monospace;
    animation: fadeInUp 1.2s ease-in-out;
  }

  .features-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    li {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      animation: fadeInLeft 1.5s ease-in-out;
      color: #faffc4;
      font-family: "jersery", "Courier New", Courier, monospace;
      &:hover {
        font-weight: bold;
        color: #0099ff;
        cursor: pointer;
      }
    }
  }

  .cta-buttons {
    display: flex;
    gap: 1rem;
    .custom-btn {
      padding: 0.8rem 1.5rem;
      font-size: 1.1rem;
      background: #ce0064;
      color: white;
      flex-grow: 1;
      transition: all 0.3s ease-in-out;
      font-weight: bolder!important;
      font-family: "oswald", "Courier New", Courier, monospace;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(255, 0, 122, 0.4);
      }
    }

    .custom-btn-outline {
      padding: 0.8rem 1.5rem;
      font-size: 1.1rem;
      background: transparent;
      border: 2px solid #ff007a;
      color: #ff007a;
      transition: all 0.3s ease-in-out;
      flex-grow: 1;
      font-weight: bolder!important;
      font-family: "oswald", "Courier New", Courier, monospace;

      &:hover {
        background: #ff007a;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(255, 0, 122, 0.4);
      }
    }
  }

  .hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInRight 1.5s ease-in-out;
  }

  .hero-card {
    border-radius: 15px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
    img {
      width: 80%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    padding: 20px 20px;
    min-height: 75vh;
    align-items: center;
    width: 100%;
  }
  .hero-left {
    animation: fadeInUp 1.5s ease-in-out;
    flex-grow: 1;
  }
  .hero-right {
    animation: fadeInUp 1.5s ease-in-out;
  }
  .gradient-text {
    font-size: 4rem !important;
  }
  .cta-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
  }

  .custom-btn-outline,.custom-btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
  }

  .hero-right img {
    display: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
