/* Hero Section Styling */
.hero {
  background-color: black;
  background-image: url('/res/hero.svg');
  height: 90vh;
  color: white;
  justify-content: center;
  text-align: center;
}

/* Left Content */
.hero-left {
  z-index: 2;
}

.hero-title {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Oswald', 'Roboto', sans-serif;
}

.highlighted-text {
  color: #ffc107;
  background: linear-gradient(to right, #ffeb3b, #03a9f4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  max-width: 450px;
}

/* Right Content */
.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.hero-card {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
  justify-content: center;
  align-items: center;
}

#herofrontimg {
  height: auto;
  width: 100%;
  background-color: transparent;
  object-fit: cover;
}

/* Button Styling */
.cta-buttons .btn {
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 500;
}
.cta-buttons .btn:hover {
  scale: 1.1;
}

.cta-buttons .btn:first-child {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .hero-left {
    align-items: center;
    text-align: center;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
  }

  .hero-right {
    width: 100%;
  }
}