.dashboard-container {
  padding: 20px;
}

h2{
  text-align: center;
  padding:20px;
  font-size: 300%;
  user-select: none;
  font-family: 'Lora', Courier, monospace;
  font-weight: bolder;
}

mat-expansion-panel {
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 8px;
}

mat-expansion-panel-header {
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}

.card {
  width: 300px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

mat-card-title {
  font-weight: bold;
}

.email-send-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.full-width {
  width: 100%;
}
