footer {
  font-size: 0.9rem;
  background-color: rgba(0, 3, 65, 0.463) !important;
  backdrop-filter: blur(5px);
}

p{
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-group input[type="email"] {
  border-radius: 0;
}

button[mat-icon-button] img {
  vertical-align: middle;
}

button[mat-raised-button] {
  margin-left: 0.5rem;
}

.socialcion{
   border-radius: 50%;
   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

@media (max-width: 768px) {
  .social-icons {
    justify-content: center;
  }
}
