<footer class="bg-dark text-white ">
  <div class="container ">

    <div class="row py-4">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <img [src]="logo" alt="logo" width="50" class="mb-2">
        <h4>{{ footertitle }}</h4>
        <p>{{ footerDescription }}</p>
        <p><strong>Address:</strong> {{ contactDetails.address }}</p>
        <p><strong>Email:</strong> <a href="mailto:{{ contactDetails.email }}" class="text-white">{{ contactDetails.email }}</a></p>
        <p><strong>Phone:</strong> {{ contactDetails.phone }}</p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center">
        <h5>Quick Links</h5>
        <nav>
          <a *ngFor="let page of pages" [href]="page.url" class="text-white d-block mb-1">{{ page.name }}</a>
        </nav>
      </div>

      <div class="col-lg-4 col-md-12">
        <h5>Subscribe to our Newsletter</h5>
        <form (submit)="subscribeToNewsletter()">
          <div class="input-group mb-3">
            <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Enter your email" required>
            <button type="submit" mat-flat-button class="btn btn-primary">Subscribe</button>
          </div>
        </form>
        <h5>Follow Us</h5>
        <div>
          <a *ngFor="let link of socialLinks" mat-icon-button [href]="link.url" class="text-white me-2">
            <img [src]="link.icon" alt="{{ link.platform }} icon" fill="#000000" class="socialcion" width="24" height="24">
          </a>
        </div>
      </div>
    </div>

    <hr class="bg-light">

    <div class="row">
      <div class="col text-center">
        <p>&copy; 2025 {{ footertitle }}. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
