<div
  id="testimonial-carousel"
  (mouseover)="stopAutoplay()"
  (mouseout)="startAutoplay()"
>
  <div
    class="testimonial-content"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
  >
    <mat-card  *ngFor="let testimonial of testimonials" class="testimonial-card">
      <mat-card-header class="test-header">
        <mat-card-title class="test-author">{{ testimonial.name }}</mat-card-title>
        <mat-card-subtitle class="test-position">{{ testimonial.position }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="test-body">
        <div class="test-text">{{ testimonial.Test }}</div>
      </mat-card-content>
    </mat-card >
  </div>

  <button mat-icon-button class="carousel-btn prev" (click)="prevTestimonial()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="carousel-btn next" (click)="nextTestimonial()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
