.avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-card {
  border-radius: 10px;
  width: clamp(300px, 90%, 800px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dashboard-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}


mat-card-actions .mat-flat-button {
  width: 150px;
}



mat-chip {
  margin: 2px;
  border-radius: var(--border-radius);
}

.info-item {
  display: flex;
  color: var(--text-color) !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #555555;
}

.info-item:last-child {
  border-bottom: none;
}

.info-item:hover {
backdrop-filter: brightness(0.9);}

.info-item strong {
  font-weight: 600;
  width: 50%;
}

.info-item span,.interest-chips{
  width: 50%;
  font-style: italic;
  color: var(--text-color)!important;
}

.coursegrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.course-item {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
}

.course-card {
  width: 100%;
}

.course-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-item {
  display: flex;
  justify-content: space-between;
}

.mat-card-actions {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}
