<div class="file-upload">
  <div class="image-preview" *ngIf="imagePreview">
    <img [src]="imagePreview" alt="Image Preview" />

  <p *ngIf="uploadedFileName">{{ uploadedFileName }}</p>

  </div>
  <label for="fileInput" class="upload-label">
    <mat-icon>cloud_upload</mat-icon>
    <span>Click or drag and drop to upload an image</span>
    <input
      id="fileInput"
      type="file"
      (change)="onFileSelected($event)"
      class="hidden-input"
      accept="image/*"
    />
  </label>

</div>
