#coursessection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
  margin-top: 20px;
  width: clamp(300px, 80vw, 1400px);
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* Center content */
}

 h2 {
  font-size: 2.5rem;
  color: #046d6d;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}


@media (max-width: 768px) {
  #coursessection {
      padding: 20px;
  }

}
