#coursessection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    margin-top: 20px;
    width: clamp(300px, 80vw, 1400px);
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    background-color: #fdfdfd;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .cardheader {
    background-color: #046d6d;
    color: white;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
  }
  
  .cardbody {
    padding: 20px;
    font-size: 1.2rem;
    color: #000000;
  }
  
  @media (max-width: 768px) {
    #coursessection {
      padding: 20px;
    }
  }
  