#coursessection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  width: clamp(300px, 90vw, 1200px);
  margin:  var(--padding) auto;
}


@media (max-width: 768px) {
  #coursessection {
      padding: 20px;
  }
}
