.container {
  max-width: 1280px;
}

.mat-form-field {
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--text-color)!important;
  background-color: var(--surface-color) !important;

}


.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.flex.justify-center {
  min-height: 150px;
}

.app-course-page-course-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  color: var(--text-color)!important ;
  overflow: hidden;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

mat-paginator {
  padding: var(--padding);
  margin:  var(--padding);
  background-color: var(--surface-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  color: var(--text-color)!important ;
  color: var(--text-color);

}

.mat-paginator-range-label {
  font-weight: bold;
  color: var(--text-color)!important ;

}


.summarytxt{
  text-align: center;
  color: var(--text-color)!important ;


}

.searchbox {
  padding: calc(20px + var(--padding));
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
}

.searchbox mat-form-field {
  flex: 1;
  margin: 0;
  color: var(--text-color)!important ;
  background-color: var(--surface-color) !important;

}


