<div class="container my-3">
  <h2 class="mb-4 text-center">Courses</h2>
  <div class="row g-4" id="coursesContainer">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let course of courses">
      <mat-card class="course-card shadow-sm h-100">
        <div class="course-image-wrapper position-relative">
          <img
            src="assets/gallery/designer.webp"
            alt="Course Image"
            class="course-bg-image w-100"
          />
          <div
            class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center"
          >
            <h5 class="text-white course-title mb-1">
              {{ course.courseName }}
            </h5>
            <p class="text-light course-tutor small">{{ course.tutor }}</p>
          </div>
        </div>

        <!-- Course Details -->
        <mat-card-content class="p-3">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center">
              <i class="material-icons text-primary me-2">schedule</i>
              <span class="text-muted small">{{ course.duration }}</span>
            </div>
            <div class="d-flex align-items-center">
              <i class="material-icons text-primary me-2">plus_one</i>
              <span class="text-muted small">{{ course.credits }}</span>
            </div>
            <div class="d-flex align-items-center">
              <i class="material-icons text-success me-2">attach_money</i>
              <span class="text-muted small">{{ course.courseFee }}</span>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <i class="material-icons text-warning me-2">code</i>
            <span class="text-muted small">{{
              course.importantTechnologiesUsed.join(", ")
            }}</span>
          </div>
        </mat-card-content>

        <mat-card-actions class="d-flex justify-content-evenly p-3">
          <button
            mat-flat-button
            color="primary"
            *ngIf="userrole === 'student'"
            (click)="enrolltocourse(course.id)"
            class="px-3"
          >
            Enroll Now
          </button>
          <button mat-flat-button *ngIf="userrole==='tutor'" (click)="editcourseitem(course.id)">edit</button>

          <button
            mat-flat-button
            color="accent"
            class="px-3"
            (click)="openCourseDetails(course, detailsTemplate)"
          >
            View Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <ng-template #detailsTemplate let-data>
    <h2 mat-dialog-title class="text-center">Course Details</h2>
    <mat-dialog-content class="px-3">
      <p>
        <i class="material-icons text-primary me-2">school</i>
        <strong>Course Name:</strong> {{ data.courseName }}
      </p>
      <p>
        <i class="material-icons text-info me-2">person</i>
        <strong>Tutor:</strong> {{ data.tutor }}
      </p>
      <p>
        <i class="material-icons text-secondary me-2">schedule</i>
        <strong>Duration:</strong> {{ data.duration }}
      </p>
      <p>
        <i class="material-icons text-success me-2">attach_money</i>
        <strong>Fee:</strong> {{ data.courseFee }}
      </p>
      <p>
        <i class="material-icons text-warning me-2">description</i>
        <strong>Description:</strong> {{ data.description }}
      </p>
      <p>
        <i class="material-icons text-dark me-2">code</i>
        <strong>Technologies:</strong>
        {{ data.importantTechnologiesUsed.join(", ") }}
      </p>
      <button mat-flat-button (click)="editcourseitem(data.id)">edit</button>

      <button mat-flat-button (click)="removecourseitem(data.id)">
        delete
      </button>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="px-3">
      <button mat-button mat-dialog-close color="warn">Close</button>
    </mat-dialog-actions>
  </ng-template>
</div>
