.course-card {
  width: 320px;
  border-radius: var(--border-raidus);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
  background-color: #edededcf;
  backdrop-filter: blur(10);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.disabled{
  user-select: none;
  pointer-events: none;
  filter: grayscale(10);
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.course-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.course-card:hover .course-info-overlay {
  opacity: 1;
}

.course-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.course-tutor {
  font-size: 1.1rem;
  color: #ffffff;
}

.course-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-raidus);
}

.course-details {
  padding: var(--padding);
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.info-item mat-icon {
  margin-right: 12px;
  color: #1976d2;
}

.info-item strong {
  font-weight: 600;
}



mat-card-actions {
  padding: var(--padding);
  border-top: 1px solid #ddd;
}

button {
  padding: 8px 20px;
  margin: 4px;
  font-size: 1rem;
}

button mat-icon {
  margin-right: 8px;
}

button:hover {
  opacity: 0.85;
}


button[mat-flat-button]:first-child {
  background-color: #f44336;
  color: white;
}

button[mat-flat-button]:last-child {
  background-color: #2196f3;
  color: white;
}

.over{
  color: red !important;
}

.notover{
  color: green !important;

}

.course-disabled{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}
