<mat-card class="course-card">
  <mat-card-header class="position-relative">

    <img mat-card-image [src]="course.imageUrl ? course.imageUrl : 'assets/gallery/designer.webp'" alt="{{ course.courseName }}" class="course-image">
    <div class="course-info-overlay">
      <mat-card-title class="course-title">{{ course.courseName }}</mat-card-title>
      <mat-card-subtitle class="course-tutor">{{ course.tutor }}</mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="course-details">
      <div class="info-item">
        <mat-icon>access_time</mat-icon>
        <strong>Duration:</strong> <span>{{ course.duration }} hours</span>
      </div>
      <div class="info-item">
        <mat-icon>attach_money</mat-icon>
        <strong>Fee:</strong> <span>{{ course.courseFee | currency }}</span>
      </div>
      <div class="info-item">
        <mat-icon>calendar_today</mat-icon>
        <strong>Joined:</strong> <span>{{ getUserCourseDetail(course.id!, 'date') | date }}</span>
      </div>
      <div class="info-item">
        <mat-icon>alarm</mat-icon>
        <strong>Expiry:</strong> <span>{{ getUserCourseDetail(course.id!, 'expiry') | date }}</span>
      </div>
      <div class="info-item">
        <mat-icon>star_rate</mat-icon>
        <strong>completion:</strong> <span>{{ getUserCourseDetail(course.id!, 'completion') }}</span>
      </div>
      <div class="info-item">
        <mat-icon>people</mat-icon>
        <strong>Enrolled:</strong> <span>{{ course.numberOfEnrolledPeople || 0 }}</span>
      </div>
      <div class="info-item">
        <mat-icon>star_rate</mat-icon>
        <strong>Rating:</strong> <span>{{ course.totalStars || 0 }} / 5</span>
      </div>

    </div>

  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-center">
    <button mat-flat-button color="warn" (click)="removeCourse(course.id!)">
      <mat-icon>delete</mat-icon> unenroll
    </button>
  </mat-card-actions>
</mat-card>
