<div class="container d-flex flex-row align-items-center text-center py-2">
    <div class="col-md-5">
        <h2 class="display-1 text-danger">404</h2>
        <p class="lead">{{errorMessage}}</p>
        <p>
            It looks like you may have taken a wrong turn. Don't worry... it happens to the best of us!
        </p>
        <div class="d-flex flex-row align-items-center justify-content-evenly">
            <a routerLink="/home" class="btn btn-primary btn-lg m-2 mat-raised-button mat-primary">
                <mat-icon>home</mat-icon> Take me Home
            </a>
            <a routerLink="/contact" class="btn btn-secondary btn-lg m-2 mat-raised-button mat-accent">
                <mat-icon>contact_support</mat-icon> Contact Support
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column col-md-5">
        <img src="assets/404.webp" alt="404 Error" class="img-fluid ">

    </div>
</div>
