<mat-toolbar color="primary">
  <div class="logobox">
    <img [src]="logo" alt="Logo" class="logo" />
    <span class="title">{{ title }}</span>
  </div>
  <span class="spacer"></span>
  <div class="desknav">
    <div *ngFor="let link of navLinks">
      <button
        mat-button
        [matMenuTriggerFor]="link.submenu ? menu : null"
        [routerLink]="link.submenu ? null : link.path"
        routerLinkActive="active"
      >
        {{ link.label }}
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="link.submenu">
          <button
            mat-menu-item
            *ngFor="let subLink of link.submenu"
            [routerLink]="subLink.path"
          >
            {{ subLink.label }}
          </button>
        </div>
      </mat-menu>
    </div>
    <button
      mat-button
      [routerLink]="logordash === 'Dashboard' ? '/dashboard' : '/login'"
    >
      {{ logordash }}
    </button>
  </div>
  <button mat-icon-button class="mobile-menu-button" (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- If you uncommment this, then drawyer overlay will be present, even if drawyer is not -->

<!-- <mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="push" position="end">
    <div class="mobile-menu">
      <div *ngFor="let link of navLinks">
        <button mat-button [matMenuTriggerFor]="link.submenu ? mobileMenu : null" [routerLink]="link.submenu ? null : link.path" (click)="closeDrawer()">
          {{ link.label }}
        </button>
        <mat-menu #mobileMenu="matMenu">
          <div *ngIf="link.submenu">
            <button mat-menu-item *ngFor="let subLink of link.submenu" [routerLink]="subLink.path" (click)="closeDrawer()">
              {{ subLink.label }}
            </button>
          </div>
        </mat-menu>
      </div>
      <button mat-button [routerLink]="logordash === 'Dashboard' ? '/dashboard' : '/login'" (click)="closeDrawer()">{{ logordash }}</button>
    </div>
  </mat-drawer>
  </mat-drawer-container> -->
