/* Global styles for the toolbar */
mat-toolbar {
  background: #011734;
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 10vh;
}

.logobox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Pacifico", "Courier New", Courier, monospace;
  margin-right: 20px;
}

.logo {
  height: 40px;
  margin-right: 20px;
}

/* Navigation Links */
.desknav {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.mat-menu-item {
  min-width: 150px;
  border-radius: 10px;
}

.mobile-menu-button {
  display: none;
}

.mat-mdc-button {
  color: white !important;
  font-size: 1.3rem !important;


}

.mobile-menu {
  padding: 16px;
}

.mobile-menu button {
  width: 100%;
  margin: 4px;
}

.drawer-container {
  height: 100vh;
  position: absolute;
  background-color: transparent;
  width: 100%;
}

.mat-drawer {
  background-color: rgba(5, 31, 54, 0.631) !important;
  backdrop-filter: blur(10px);
  color: white !important;
  position: absolute;
  top: 0;
}

/* Active Link Styles */
.active {
  font-weight: bold !important;
  color: var(--primary-color) !important;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .desknav {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }
}
