<div class="blog-container" *ngIf="blogData">
  <header class="blog-header">
    <h1 id="blogtitle">{{ blogData.title }}</h1>
    <div class="blog-meta">
      <span class="author-info">
        <span class="author-name">{{ blogData.author }}</span>
      </span>
      <span class="publish-date">{{ blogData.date | date: 'longDate' }}</span>
    </div>
  </header>

  <section class="blog-image-container">
    <img [src]="blogData.imageURL" alt="{{ blogData.title }}" class="blog-image" />
  </section>

  <section class="blog-content">
    <p class="blog-description">{{ blogData.description }}</p>
    <quill-view [content]="blogData.content" format="object" theme="snow"></quill-view>
  </section>

  <mat-card-actions class="pt-3 mt-3">
    <app-commentbox [comments]="blogData.comments" (addComment)="onAddComment($event)"></app-commentbox>
  </mat-card-actions>
</div>
