<div class="blog-container">
  <h1>{{ blogData.title }}</h1>

  <div class="post-info">
    <p><strong>Author:</strong> {{ blogData.author }}</p>
    <p><strong>Post Type:</strong> {{ blogData.post }}</p>
    <p><strong>Date:</strong> {{ blogData.date | date: 'longDate' }}</p>
  </div>

  <div class="blog-image">
    <img [src]="blogData.imageURL" alt="{{ blogData.title }}" />
  </div>

  <div class="description">
    <p>{{ blogData.description }}</p>
  </div>
   <p>{{ blogData.content }}</p>
  <quill-view [content]="blogData.content" format="object" theme="snow"></quill-view>

</div>
